alt-outline-primary
{
	display: inline-block;
	height: 2.25rem;
	line-height: 2.125rem;
	padding: 0 1rem;
	border-radius: 0.125rem;
	border-width: 1px;
	border-style: solid;
	text-transform: uppercase;
	font-weight: 500;
	user-select: none;
	cursor: pointer;
	font-size: 0.875rem;
	min-width: 5rem;
	background-color: transparent;
	transition: background-color 75ms ease;

	// Colors
	border-color: var(--grey-2);
	color: var(--primary);

	&:hover
	{
		background-color: var(--primary-hover-opacity);
		border-color: var(--grey-3);
	}

	&:active
	{
		background-color: var(--primary-active-opacity);
		border-color: var(--primary);
	}
}