$medium-breakpoint: 768px;
$large-breakpoint: 1024px;
$xlarge-breakpoint: 1280px;
$gap: 1rem;
$wide-gap: 2rem;

css-grid
{
    display: grid;
    gap: $gap;
    grid-template-columns: minmax(1px, 1fr);

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
    {
        display: block;

        grid-column
        {
            margin-bottom: 1rem;

            &:last-of-type
            {
                margin-bottom: 0;
            }
        }
    }

    // Gap Controls
    &.-no-gap
    {
        gap: 0;

        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
        {
            grid-column
            {
                margin-bottom: 0;
            }
        }
    }

    &.-wide-gap
    {
        gap: $wide-gap;

        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
        {
            grid-column
            {
                margin-bottom: 2rem;

                &:last-of-type
                {
                    margin-bottom: 0;
                }
            }
        }
    }

    // Column Controls
    &[columns~="2"]
    {
        @media (min-width: $medium-breakpoint)
        {
            grid-template-columns: 1fr 1fr;

            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
            {
                grid-column
                {
                    width: 50%;
                    padding: 0 0.5rem;
                }
            }
        }
    }

    &[columns~="3"]
    {
        @media (min-width: $large-breakpoint)
        {
            grid-template-columns: 1fr 1fr 1fr;

            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
            {
                grid-column
                {
                    width: 33.33%;
                    padding: 0 0.5rem;
                }
            }
        }
    }

    &[columns~="4"]
    {
        @media (min-width: $xlarge-breakpoint)
        {
            grid-template-columns: 1fr 1fr 1fr 1fr;

            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
            {
                grid-column
                {
                    width: 25%;
                    padding: 0 0.5rem;
                }
            }
        }
    }
}
