$primary: #4a99ff;
$grey-1: #F7F7F7;
$grey-2: #E1E1E1;
$grey-3: #F0F0F0;
$grey-4: #B1B1B1;
$font: #333333;
$error: #f86a6a;

solid-input-component
{
	display: inline-block;
	width: 100%;

	input
	{
		height: 56px;
		min-width: 256px;
		line-height: 56px;
		border-radius: 0.25rem 0.25rem 0 0;
		border-width: 0 0 1px 0;
		border-style: solid;
		padding: 1.5rem 1rem 0.5rem;
		transition: all 75ms ease-in-out;
		
		// Config
		border-color: $grey-2;
		background-color: $grey-1;

		&.has-value
		{
			& + label
			{
				transform: translateY(-130%) scale(0.75);
			}
		}

		&:hover
		{
			border-color: $grey-4;
			background-color: $grey-3;

			& + label
			{
				color: rgba($font, 0.87);
			}
		}

		&:focus
		{
			border-width: 0 0 2px 0;
			border-color: $primary;

			& + label
			{
				color: $primary;
				transform: translateY(-130%) scale(0.75);
			}
		}

		&.is-invalid
		{
			border-color: $error;

			& + label
			{
				color: $error;
				transform: translateY(-130%) scale(0.75);
			}
		}
	}

	label
	{
		position: absolute;
		top: 50%;
		left: 0.75rem;
		padding: 0 0.25rem;
		transform: translateY(-50%);
		transform-origin: left center;
		user-select: none;
		pointer-events: none;
		transition: all 75ms ease-in-out;

		// Config
		color: rgba($font, 0.6);
	}
}