.form-grid
{
    border: 1px solid var(--grey-2);
    padding: 1rem;
    background-color: var(--white);
    border-radius: 0.25rem;
    width: 480px;
    
    form-row
    {
        h2
        {
            font-weight: 400;
            font-size: 1.25rem;
            opacity: 0.87;
        }

        a
        {
            font-size: 0.75rem;
            color: var(--primary);
        }

        input
        {
            width: 100%;
            height: 36px;
            line-height: 34px;
            font-size: 0.875rem;
            padding: 0 1rem;
            border: 2px solid var(--primary);
        }

        button
        {
            height: 36px;
            border-radius: 0.125rem;
            padding: 0 1rem;
            color: var(--white);
            background-color: var(--primary);
        }
    }
}
