aside
{
    width: 350px;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    border: 1px dashed royalblue;
}

demo-view
{
    border: 1px dashed rebeccapurple;
    width: calc(100vw - 350px);
    height: 66.66vh;
    position: fixed;
    top: 0;
    right: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;

    demo-wrapper
    {
        margin: 0;
        display: inline-block;
    }
}

source-view
{
    border: 1px dashed goldenrod;
    width: calc(100vw - 350px);
    height: 33.33vh;
    position: fixed;
    bottom: 0;
    right: 0;
}